@charset "UTF-8";


:root {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #ffffff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xxxs: 0;
  --breakpoint-xxs: 320px;
  --breakpoint-xs: 480px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}


.img_center {
	margin-left: auto;
	margin-right: auto;
	display:  block;
	width: 50%;
}

.menu_icon {
	width: 35px;
  	height: 5px;
  	background-color: black;
  	margin: 6px 0;
}

#login_button{
	  color:blue;
  	font-size: 20px;
  	border: 1px solid gray;
  	padding: 5px 10px;
}

a {
  text-decoration: none;
}

a:active,
a:hover{
  outline: 0;
  text-decoration: none;
}

.form-container {
  position: absolute;
  top: 15vh;
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #000;
}

.container i {
          margin-left: -30px;
          margin-top: 6px;
          cursor: pointer;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.navigation {
  height: 3rem;
  width: 100%;
  position: absolute;
  top: 12rem;
  background-image: linear-gradient(135deg, transparent 55%, white 55%);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (min-width: 920px) and (max-width: 1199px) {
  .navigation {
    background-image: linear-gradient(135deg, transparent 45%, white 45%);
  }
}
@media (min-width: 768px) and (max-width: 919px) {
  .navigation {
    background-image: linear-gradient(135deg, transparent 30%, white 30%);
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .navigation {
    background-image: linear-gradient(135deg, transparent 10%, white 10%);
  }
}

#navigation-bar {
  /*position: relative;*/
  /*Enable/disable if want to half/full screen menue*/
  z-index: 2;
  margin-left: -30px;
  padding-left: 20px;
  /*Short menue*/
}

.content-wrapper {
  background-color: #ffffff;
}

/*============================
            Sidebar
=============================*/
.tn-sidebar {
  margin-top: 30px;
}

.tn-sidebar.left {
  border-left: 0px;
  border-right: 1px solid #e6e6e6;
  padding: 0 30px 0 0;
}

.tn-sidebar .search {
  position: relative;
}

.rightsidebar {
  margin-top: 0.5rem;
  border-left: 2px solid #DBDBDB;
  border-right: 2px solid #DBDBDB;
  border-bottom: 2px solid #DBDBDB;
}
.rightsidebar_content {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-bottom: 0.5rem;
  border-top: 0.4rem solid #5A6268;
}
.rightsidebar_content_box {
  background-color: #F7F5F3;
  margin-top: 1rem;
  padding: 1rem;
}

.contentitem {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5rem;
  justify-content: flex-end;
  padding-left: 25px;
  padding-top: 5px;
  border: 1px solid #cdcdcd;
  
}
@media (max-width: 919px) {
  .contentitem {
    flex-direction: column;
  }
}

/*-------------------------------------------------------*/
/* Box red
/*-------------------------------------------------------*/
.box-red {
  /*#969696*/
  border-top: 0.3rem solid #28a745;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  flex: 0 0 45%;
  min-height: 145px;
  margin-right: 2rem;
  margin-bottom: 1rem;
  border-radius: 2px;
  transition: all 100ms ease-out;
  /*}*/
}
.box-red_title {
  font-size: 1rem;
  font-weight: 700;
  position: relative;
  margin: 0.5rem 1rem 0.5rem;
  text-transform: uppercase;
  color: #3c3f3d;
}
.box-red_title:before {
  content: "";
  display: inline-block;
  background-image: linear-gradient(to top, #28a745, #28a745);
  width: 0.2rem;
  height: 1rem;
  position: absolute;
  left: -0.7rem;
}
.box-red_content {
  display: flex;
  flex: 0 0 50%;
}
.box-red_content_image {
  /*width: 6rem;
  height: auto;*/
  padding: 0 1rem;
}
.box-red_content_image span {
  color: #00b16a;
  font-size: 4rem;
}
.box-red_content_item {
  margin-bottom: 1rem;
}
.box-red_content_item .list {
  margin: 0.5rem;
  list-style: none;
}
.box-red:hover {
  border-top: 0.3rem solid #da2c3d;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.7);
}

.footer {
  background-color: lightblue;
  margin-top: 3rem;
}

.news_title {
  
}